In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [2]:
Raw_Data =pd.read_csv('survey.csv')
Raw_Data.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,8/27/2014 11:29,37,Female,United States,IL,NaN,No,Yes,Often,25-Jun,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,8/27/2014 11:29,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,8/27/2014 11:29,32,Male,Canada,NaN,NaN,No,No,Rarely,25-Jun,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,8/27/2014 11:29,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,8/27/2014 11:30,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [3]:
anonymity=Raw_Data[Raw_Data['anonymity'].str.contains("Yes")]
anonymity.head()

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,8/27/2014 11:29,37,Female,United States,IL,NaN,No,Yes,Often,25-Jun,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
7,8/27/2014 11:32,39,M,Canada,NaN,NaN,No,No,Never,5-Jan,...,Don't know,No,No,No,No,No,No,No,No,NaN
18,8/27/2014 11:34,46,male,United States,MD,Yes,Yes,No,Sometimes,5-Jan,...,Very easy,No,No,Yes,Yes,No,Yes,Yes,Yes,NaN
19,8/27/2014 11:35,36,Male,France,NaN,Yes,Yes,No,NaN,25-Jun,...,Somewhat easy,No,No,Some of them,Some of them,Maybe,Maybe,Don't know,No,NaN
21,8/27/2014 11:35,31,male,United States,NC,Yes,No,No,Never,5-Jan,...,Somewhat difficult,No,No,Some of them,Some of them,No,Maybe,Yes,No,NaN

In [4]:
selectlocation_mentalhealth =anonymity.groupby(['Country'])['anonymity'].count().reset_index(name="count")
selectlocation_mentalhealth .sort_values("count", axis=0, ascending = False)
selectlocation_mentalhealth .head(100)

           Country  count
0        Australia      6
1          Austria      1
2     Bahamas, The      1
3          Belgium      1
4           Canada     22
5       Costa Rica      1
6          Croatia      2
7           France      3
8          Germany     17
9           Greece      1
10           India      1
11         Ireland      3
12          Israel      3
13           Italy      2
14         Moldova      1
15     Netherlands      9
16     New Zealand      1
17          Poland      2
18        Portugal      1
19          Russia      1
20       Singapore      1
21    South Africa      3
22          Sweden      2
23     Switzerland      3
24        Thailand      1
25  United Kingdom     49
26   United States    237